<div class="jumbotron">
    <h1>Library</h1>
</div>
<div class="row">
    <div class="col-md-8">
        <h2>Introduction</h2>
        <p>
            This is an ASP.net project built in Microsoft Visual Studios utilizing both MVC and Web API to build a functional website. 
            The purpose of this project is to familiarize myself with the framework .NET and to try building REST type functions in a 
            web service environment. The objective of this website is to compile a list of books and apply different functions to them.
            
        </p>
        <p>
            As for why I am doing a website on books, I have always had a hobby of reading novels. 
        </p>

        <h2>Planning</h2>
        <p>
            The main goal of this project is to have a working book collection that you can perform CRUD operations on, adding and deleting books
            from the list, looking at the book details, and then updating the book properties. Similarly, for the web api portion of the project,
            I want to implement the REST operations. So first of all, I need to create a database for all the book objects that are added in and deleted.
            Then I have to connect the controller to that and have the CRUD operations update the database. As for the REST operations, I want to similarly
            implement GET,POST, and DELETE methods which allow users to use the API to do actions. As for the database, I intend on using the local database
            located in Microsoft Visual Studios and connect it to my project through a data library.
        </p>
    </div>
</div>
